:root {
  font-size: 16px;
  font-family: 'Rambla', sans-serif;
}

body {
  width: 100vw;
  background-color: #f3f2ee;
  display: flex;
  justify-content: center;
}

#top_white {
  width: 100%;
  height: 59px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 3;
}

header {
  height: 59px;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  max-width: 1024px;
  z-index: 3;
}

#header_center {
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
}

#header_left {
  width: 46vw;
  display: flex;
  align-items: center;
}

#logo {
  margin-right: 7px;
}

#logo > a > svg {
  width: 34px;
  height: 34px;
  fill: #0a66c2;
}

#search {
  height: 34px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #eef3f7;
}

#search > label {
  margin-right: 8px;
}

#search > input {
  border: none;
  background-color: #eef3f7;
}

#search > label > svg {
  width: 11px;
  height: 11px;
}

#header_right {
  width: 46vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_right > nav > ul {
  display: flex;
}

#header_right > nav > ul > li {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header_right > nav > ul > li > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #666666;
  fill: #666666;
}

#header_right > nav > ul > li > a:hover {
  color: #000000;
  fill: #000000;
  transition: 0.5s;
}

#header_right > nav > ul > li > a > span {
  font-size: 0.625rem;
}

.nav_itens {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

#nav_photo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#nav_photo > a {
  text-decoration: none;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#nav_photo > a > img {
  height: 25px;
  margin-bottom: 2px;
  border-radius: 50%;
}

#nav_photo-menu {
  display: flex;
  align-items: flex-start;
}

#nav_photo-menu > span {
  font-size: 0.625rem;
}

#nav_photo-menu > svg {
  width: 10px;
  height: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my_info {
  width: 92vw;
  margin-top: 97px;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}

.container {
  background-color: #ffffff;
  border-radius: 5px;
}

#my_info--top {
  height: 135px;
  background-image: url(img/banner.jfif);
  background-size: cover;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#my_info--top > img {
  height: 105px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  transform: translate(29%, 32%);
  position: absolute;
  bottom: 0;
}

#my_info--botton {
}

#my_info--botton-left {
  width: 60%;
  margin: 43px 0 28px 22px;
}

#my_info--botton-left > h1 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 5px;
}

#my_info--botton-left > h2 {
  font-size: 0.875rem;
  margin-bottom: 5px;
}

#my_info--botton-left > h3 {
  font-size: 0.75rem;
  display: inline-block;
  color: #666666;
  margin-bottom: 5px;
}

#my_info--botton-left > h3 > a {
  text-decoration: none;
  font-weight: bold;
}

#my_info--botton-left > h4 {
  font-size: 0.75rem;
}

#my_info--botton-left > h4 > a {
  text-decoration: none;
  font-weight: bold;
}

#my_info--botton-left-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.my_info--botton-button-blue {
  font-size: 0.6875rem;
  color: #ffffff;
  background-color: #0b65c2;
}

.my_info--botton-button-rules {
  text-align: center;
  border-radius: 15px;
  margin-top: 15px;
  margin-right: 14px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.my_info--botton-button-blue:hover {
  filter: brightness(90%);
  transition: 0.5s;
}

.my_info--botton-button-white {
  font-size: 0.6875rem;
  color: #666666;
  background-color: #ffffff;
  border: 1px solid #666666;
}

.my_info--botton-button-white:hover {
  filter: brightness(90%);
  transition: 0.5s;
}

#data_content {
  margin: 32px 0;
}

#data_content-exp {
  width: 92vw;
  max-width: 1024px;
}

#data_content-exp > h2 {
  font-size: 0.875rem;
  margin: 16px 0 12px 21px;
}

article {
  width: 92vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.data_content-img {
  width: 80px;
  padding: 19px 0;
  display: flex;
  justify-content: center;
}

.data_content-img > img {
  width: 35px;
  height: 35px;
}

#data_content-acad {
  width: 92vw;
  max-width: 1024px;
}

#data_content-acad > h2 {
  font-size: 0.875rem;
  margin: 16px 0 12px 21px;
}

.data_content-border {
  border-bottom: 1px solid #ebebeb;
}

.data_content-size {
  width: 100%;
  padding: 19px 0;
}

#data_content-set > h3 {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 5px;
}
#data_content-set > h4 {
  font-size: 0.6875rem;
  margin-bottom: 5px;
}
#data_content-set > span {
  font-size: 0.6875rem;
  color: #666666;
  margin-bottom: 5px;
  display: block;
}

@media only screen and (max-width: 730px) {
  #header_right > nav > ul > li > a > span {
    display: none;
  }

  #nav_photo-menu > span {
    display: none;
  }
  #nav_photo-menu > svg {
    display: none;
  }
}
