:root {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  width: 100vw;
  background-color: #f3f2ee;
  display: flex;
  justify-content: center;
}

header {
  height: 5.772994129vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#header_center {
  height: 5.772994129vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header_left {
  width: 46.6189857vw;
  display: flex;
}

#logo {
  margin-right: 0.910273082vw;
}

#logo > a > svg {
  width: 4.421326398vw;
  height: 3.326810176vh;
  fill: #0a66c2;
}

#search {
  height: 3.326810176vh;
  padding: 0 1.950585176vw;
  display: flex;
  align-items: center;
  border-radius: 0.5vw;
  background-color: #eef3f7;
}

#search > label {
  margin-right: 0.910273082vw;
}

#search > input {
  border: none;
  background-color: #eef3f7;
}

#search > label > svg {
  width: 1.430429129vw;
  height: 1.076320939vh;
}

#header_right {
  width: 46.6189857vw;
  height: 3.62035225vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_right > nav > ul {
  display: flex;
}

#header_right > nav > ul > li {
  width: 7.501950585vw;
  height: 5.772994129vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header_right > nav > ul > li > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #666666;
  fill: #666666;
}

#header_right > nav > ul > li > a:hover {
  color: #000000;
  fill: #000000;
  transition: 0.5s;
}

#header_right > nav > ul > li > a > span {
  font-size: 0.625rem;
}

.nav_itens {
  width: 2.600780234vw;
  height: 1.956947162vh;
  margin-bottom: 0.5vw;
}

#nav_photo {
  width: 6.501950585vw;
  height: 5.772994129vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#nav_photo > a {
  text-decoration: none;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#nav_photo > a > img {
  height: 2.446183953vh;
  margin-bottom: 0.5vw;
  border-radius: 50%;
}

#nav_photo-2 {
  display: flex;
}

#nav_photo-2 > span {
  font-size: 0.625rem;
}

#nav_photo-2 > svg {
  width: 1.080624187vw;
  height: 1.080624187vw;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my_info {
  width: 93.2379714vw;
  height: 31.3111546vh;
  margin-top: 9.491193738vh;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #ffffff;
  border-radius: 5px;
}

#my_info--top {
  height: 13.20939335vh;
  background-image: url(img/banner.jfif);
  background-size: cover;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#my_info--top > img {
  height: 10.07827789vh;
  border: 3px solid #ffffff;
  border-radius: 50%;
  transform: translate(29%, 32%);
  position: absolute;
  bottom: 0;
}

#my_info--botton {
  height: 18.10176125vh;
}

#my_info--botton-left {
  width: 60%;
  padding: 4.207436399vh 0 0 2.860858257vw;
}

#my_info--botton-left > h1 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.489236791vh;
}

#my_info--botton-left > h2 {
  font-size: 0.875rem;
  margin-bottom: 0.489236791vh;
}

#my_info--botton-left > h3 {
  font-size: 0.75rem;
  display: inline-block;
  color: #666666;
  margin-bottom: 0.489236791vh;
}

#my_info--botton-left > h3 > a {
  text-decoration: none;
  font-weight: bold;
}

#my_info--botton-left > h4 {
  font-size: 0.75rem;
}

#my_info--botton-left > h4 > a {
  text-decoration: none;
  font-weight: bold;
}

#my_info--botton-left-button {
  display: flex;
}

.my_info--botton-button-blue {
  font-size: 0.6875rem;
  color: #ffffff;
  background-color: #0b65c2;
  border-radius: 15px;
  margin-top: 1.076320939vh;
  margin-right: 1.820546164vw;
  padding: 0.391389432vh 2.080624187vw;
}

.my_info--botton-button-blue:hover {
  filter: brightness(90%);
  transition: 0.5s;
}

.my_info--botton-button-white {
  font-size: 0.6875rem;
  color: #666666;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 1.076320939vh;
  margin-right: 1.820546164vw;
  padding: 0.391389432vh 2.080624187vw;
  border: 1px solid #666666;
}

.my_info--botton-button-white:hover {
  filter: brightness(90%);
  transition: 0.5s;
}

#data_content {
  margin: 3.13111546vh 0;
}

#data_content-exp {
  width: 93.2379714vw;
}

#data_content-exp > h2 {
  font-size: 0.875rem;
  margin: 1.56555773vh 0 2.935420744vh 2.730819246vw;
}

article {
  width: 93.2379714vw;
  height: 13.40508806vh;
  display: flex;
}

.data_content-img {
  width: 10.40312094vw;
  height: 13.40508806vh;
  display: flex;
  justify-content: center;
}

.data_content-img > img {
  width: 4.55136541vw;
  height: 4.55136541vw;
  margin-top: 1.859099804vh;
}

#data_content-acad {
  width: 93.2379714vw;
}

#data_content-acad > h2 {
  font-size: 0.875rem;
  margin: 1.56555773vh 0 1.07632094vh 2.730819246vw;
}

.data_content-border {
  border-bottom: 1px solid #ebebeb;
}

.data_content-size {
  width: 82.83485046vw;
  margin-top: 1.859099804vh;
}

#data_content-set > h3 {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.5vh;
}
#data_content-set > h4 {
  font-size: 0.6875rem;
  margin-bottom: 0.5vh;
}
#data_content-set > span {
  font-size: 0.6875rem;
  color: #666666;
  margin-bottom: 0.5vh;
  display: block;
}
